{% block zmkr_cloudflare_turnstile_widget %}
    {% set cloudflare_turnsite_class = 'cf-turnstile' %}
    {% set widget_class = attr.class|default(cloudflare_turnsite_class) ~ (cloudflare_turnsite_class not in widget_class ? ' ' ~ cloudflare_turnsite_class : '')|trim %}
    {% set attr = attr|merge({'class': widget_class}) %}

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

    <div data-sitekey="{{ sitekey }}"
        {% for attr_name, attr_value in attr %}
            {{ attr_name|e }}="{{ attr_value }}"
        {% endfor %}>
    </div>
{% endblock %}
