# Managed by Composer
/vendor/
composer.lock

# VSCode
.vscode/*
!.vscode/settings.json

# Symfony
/var/

# PHPUnit
/coverage*/
/drivers/

# PHP CS Fixer
php-cs-fixer.diff
.artifacts/**/php-cs-fixer-report.**

# Cache
.phpunit.result.cache
.php-cs-fixer.cache
