includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#Test.* has parameter .* with no value type specified in iterable type#"
        - "#Test.* has parameter .* with no type specified#"
        - "#Test.* type has no value type specified in iterable type#"
        - "#Test extends generic class .* but does not specify its types#"
        - "#Method .* invoked with .* parameters#"
        - '#Class .* extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types#'
        - '#Method .* has parameter .* with generic interface Symfony\\Component\\Form\\FormInterface but does not specify its types#'
