includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#test.* has parameter .* with no value type specified in iterable type#"
        - "#test.* has parameter .* with no type specified#"
        - "#Test::.* return type has no value type specified in iterable type#"
        - "#UnitEnum#"
