{% block zmkr_cloudflare_turnstile_widget %}
    {% set widget_class = 'cf-turnstile ' ~ (attr.class|default('')|replace({'cf-turnstile' : ''}))|trim %}

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

    <div data-sitekey="{{ sitekey }}" class="{{ widget_class }}" {{ block('attributes') }}></div>
{% endblock %}
